#header{
  background-color: blue;
  color: grey;
  border: 1px solid grey;
  height: auto;
  width: auto;
  text-align: center;
}

*{
  font-family: sans-serif;
}

.question{
  background-color: blue;
  border: 1px solid black;
  text-align: center;
  color:white;
}

.tooltip{
  display: none;
  font-size: 0.7em;
  font-style: italic;
}

#played:hover + .tooltip{
  display: block;
  background-color: yellow;
}

#instrument{
  display:none;
}
